# Virtual Environment
.venv/
env/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# IDE & Editor Settings
.vscode/*
!.vscode/settings.json
.idea/
*.swp
*.swo

# Local directory junctions
notebooks/data


